.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #171717;
}

.placeholder {
    -fx-background-color: #b4b4b4;
}

.table-view .column-header .label {
    -fx-cell-size: 20;
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
  -fx-alignment: center-left;
  -fx-text-fill: black;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell: odd {
  -fx-background-color: #b4b4b4;
  -fx-border-color: #b4b4b4;
}

.table-row-cell: even {
  -fx-background-color: #949494;
  -fx-border-color: #949494;
}

.table-row-cell:selected {
   -fx-background-color: #2076C6;
   -fx-border-color: #2076C6;
}

.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 2em;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color:derive(#171717,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#171717,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}